{{- if .IsBlock -}}
  <figure>
    <img src="{{ .Destination | safeURL }}"
      {{- with .Text }} alt="{{ . }}"{{ end -}}
      {{- with .Title }} title="{{ . }}"{{ end -}}
      loading="lazy"
    >
    {{- with .Title -}}
    <figcaption>{{ . }}</figcaption>
    {{- else with .Text -}}
    <figcaption>{{ . }}</figcaption>
    {{- end -}}
  </figure>
{{- else -}}
  <img src="{{ .Destination | safeURL }}"
    {{- with .Text }} alt="{{ . }}"{{ end -}}
    {{- with .Title }} title="{{ . }}"{{ end -}}
    loading="lazy"
  >
{{- end -}}
