{{- if .IsBlock -}}
  <figure class="img-placeholder img-ratio-16x9">
    <a href="{{ .Destination | safeURL }}" data-lightbox>
      <img src="{{ .Destination | safeURL }}"
        {{- with .Text }} alt="{{ . }}"{{ end -}}
        {{- with .Title }} title="{{ . }}"{{ end }}
        loading="lazy"
      >
    </a>
    {{- with .Title -}}
    <figcaption>{{ . }}</figcaption>
    {{- else with .Text -}}
    <figcaption>{{ . }}</figcaption>
    {{- end -}}
  </figure>
{{- else -}}
  <img src="{{ .Destination | safeURL }}"
    {{- with .Text }} alt="{{ . }}"{{ end -}}
    {{- with .Title }} title="{{ . }}"{{ end }}
    loading="lazy"
  >
{{- end -}}
