.go-social {
    margin: 30px 0;
    line-height: 2.0;
    color: $white-warm;
}

$colorMap: (
    tw-share: $twitter-color,
    fb-share: $facebook-color,
    gp-share: $google_plus-color,
    in-share: $linkedin-color,
    email-share: $email-color,
    feed-share: $feed-color);

@each $className, $classValue in $colorMap {
    .btn-#{$className} {
        background-color: $classValue;
        border-color: $classValue;
        &:hover,
        &:focus,
        &:active {
            background-color: darken($classValue, 7.5) !important;
            border-color: darken($classValue, 7.5) !important;
        }
    }
}