// Styling for the footer

.post-footer {
    p {
        a {
            @extend a.lined-link
        }
    }
    .bmc,
    .go-social {
        text-align: center;
        @media (min-width: 768px) {
            margin: 0px 0 10px 0;
        }
    }
    .bmc {
        @media (min-width: 768px) {
            text-align: left;
        }
    }
    .go-social {
        @media (min-width: 768px) {
            text-align: right;
        }
    }
}
.site-footer {
    p {
        font-size: 10px;
        margin: 0 0 0 0;
        line-height: 1.75;
        color: $gray-700;
        @media (min-width: 768px) {
            font-size: 12px;
        }
        a {
            @extend a.lined-link
        }
    }
    .list-inline {
        margin: 0;
        padding: 0;
        line-height: 0;
        >li {
            padding: 0;
        }
    }
}

// .post-footer {
//   font-size: 1.4rem;
//   line-height: 1.75em;
//   position: relative;
//   margin: 6rem 0 3rem 0;
//   padding: 3rem 0 0 0;
//   border-top: #EBF2F6 1px solid;
//   text-align: center;
//   h4 {
//     font-size: 1.8rem;
//   }
//   p {
//     margin: 1rem 0;
//   }
//   .post-location {
//     margin: 1.6rem 0;
//     padding: 0;
//     margin: 0;
//     list-style: none;
//     font-size: 1.4rem;
//     line-height: 1;
//     font-style: italic;
//     color: #9EABB3;
//   }
//   @media (min-width: 768px) {
//     text-align: left;
//     .author-image {
//       top: -40px;
//     }
//   }
// }