.feather {
    width: 24px;
    height: 24px;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

.fa-thin {
    svg {
        stroke-width: 1;
    }
}

.fa {
    svg {
        height: 1em;
        width: 1em;
        top: .125em;
        position: relative;
    }
}

.fa-2x {
    svg {
        height: 1.5em;
        width: 1.5em;
    }
}

.fa-stack-1x {
    svg {
        height: 1.5em;
        width: 1.5em;
    }
}

.fa-stack-2x {
    svg {
        height: 3em;
        width: 3em;
    }
}

.fa-stack {
    position: relative; 
    display: inline-block;
    svg {
        display: inline-block;
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
    }
}

.fa-lg {
    height: 72px;
    width: 72px;
}