{{ if .Site.Params.Adsense.isEnabled }}
{{ if not (in (printf "%#v" .Site.BaseURL) "localhost") }}
<div class='section-ad'>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client={{.Site.Params.Adsense.client}}"
        crossorigin="anonymous"></script>
    <!-- right display ad responsive -->
    <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="{{.Site.Params.Adsense.client}}"
        data-ad-slot="{{ if .Site.Params.Adsense.rightDisplaySlot }}{{.Site.Params.Adsense.rightDisplaySlot}}{{ else }}{{.Site.Params.Adsense.displaySlot}}{{ end }}"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>
{{ else }}
<blockquote role="alert">
    <p><strong><span style="color: darkorange">[ad]</span> Attention! </strong>Google Adsense not available by default when the website is previewed locally.</p>
</blockquote>
{{ end }}
{{ end }}
