<div class="author-profile" itemprop="author" itemscope="itemscope" itemtype="http://schema.org/Person">
    <figure class="author-image">
        <img alt="Junian Triajianto" class="img" itemprop="image" src="//lh5.googleusercontent.com/-lqHOkloxmRE/AAAAAAAAAAI/AAAAAAAACu4/9acYEDSmpMw/s512-c/photo.jpg"
            title="Junian Triajianto">
    </figure>
    <a class="g-profile" href="https://plus.google.com/106765612532582215650" itemprop="url" rel="author" title="author profile">
        <h4 itemprop="name">
            Junian Triajianto
        </h4>
    </a>
    <p itemprop="description">
        A Software Engineer who enjoys problem solving with
        <b>C#</b>&nbsp;and any technology related to it like
        <b>ASP.NET</b>,&nbsp;
        <b>Xamarin</b>, and&nbsp;
        <b>Unity 3D</b>. If he's not doing his
        <a href="https://pro.junian.net">job</a>, he's probably writing some blog articles or daydreaming for a fiction story.
    </p>
</div>
<div class="post-footer-line">
    <span class="post-location">
        <i aria-hidden="true" class="fa fa-map-marker"></i>
        <a href="https://maps.google.com/maps?q=Gresik+Regency,+Indonesia@-7.155029099999999,112.57218809999995&amp;z=10" target="_blank">
            Gresik Regency, Indonesia
        </a>
    </span>
</div>
