{{ with .Site.Params.Widget.blockAdBlock }}
<!-- Ad blocking tests (requests for these images should be blocked by your ad blocker) -->
<div id="image-tests" class="hidden">
    <img id="test-ad" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" style="visibility: hidden; width:1px; height:1px;" alt="test-ad" />
    <img id="test-whitelist" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" style="visibility: hidden; width:1px; height:1px;" alt="test-whitelist" />
</div>
<blockquote id="blockadblock" class="hidden" role="alert">
    {{ . | safeHTML }}
</blockquote>
{{ end }}
