{{ if (and ($.Param "commentVisible") (.Site.DisqusShortname)) }}
    <div class="post-body entry-comment">
        <!-- An element a visitor can click if they <3 comments! -->
        <button id="btn_load_disqus_thread" class="center-block btn btn-primary btn-block">Click to see <span class='disqus-comment-count' data-disqus-url='{{ trim .Permalink "/" }}'>comments</span></button>

        <!-- The empty element required for Disqus to loads comments into -->  
        <div id="disqus_thread"></div>
    </div>
{{ end }}
