{{ if .Site.Params.Journey.IsEnabled }}
{{ if not (in (printf "%#v" .Site.BaseURL) "localhost") }}
{{ with .Site.Params.Journey.SiteID }}
<script type="text/javascript" async="async" data-noptimize="1" data-cfasync="false" src="//scripts.scriptwrapper.com/tags/{{ . }}.js"></script>
{{ end }}
{{ else }}
<!--
<blockquote role="alert">
    <p><strong><span style="color: darkorange">[ad]</span> Attention! </strong>Journey Ads not available by default when the website is previewed locally.</p>
</blockquote>
-->
{{ end }}
{{ end }}