{{ if site.Params.Services.MediavineGrow.IsEnabled }}
	{{- with site.Params.Services.MediavineGrow.SiteID }}
<script data-grow-initializer="">!(function(){window.growMe||((window.growMe=function(e){window.growMe._.push(e);}),(window.growMe._=[]));var e=document.createElement("script");(e.type="text/javascript"),(e.src="https://faves.grow.me/main.js"),(e.defer=!0),e.setAttribute("data-grow-faves-site-id","{{ . }}");var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t);})();</script>
	{{- end }}
{{- end -}}