<section class="social-share">
    {{ if .Site.Params.Widget.socialshare.twitter }}<a class="btn-twitter-share" href="https://twitter.com/share?text={{ .Title }}&amp;url={{ .Permalink }}"><i class="fa fa-twitter"></i> Tweet</a>{{ end }}
    {{ if .Site.Params.Widget.socialshare.facebook }}<a class="btn-facebook-share" href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}"><i class="fa fa-facebook"></i> Post</a>{{ end }}
    {{ if .Site.Params.Widget.socialshare.googleplus }}<a class="btn-googleplus-share" href="https://plus.google.com/share?url={{ .Permalink }}"><i class="fa fa-google-plus"></i> Share</a>{{ end }}
    {{ if .Site.Params.Widget.socialshare.linkedin }}<a class="btn-linkedin-share" href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{ .Permalink }}"><i class="fa fa-linkedin"></i> Update</a>{{ end }}
    {{ if .Site.Params.Widget.socialshare.email }}<a class="btn-email-share" href="mailto:?subject={{ .Title }}&amp;body={{ .Permalink }}"><i class="fa fa-envelope"></i> Email</a>{{ end }}
    {{ if .Site.Params.Widget.socialshare.feed }}<a class="btn-feed-share" href="https://feeds.feedburner.com/"><i class="fa fa-rss"></i> RSS</a>{{ end }}
</section>
