<section class="social-share">
    <a class="btn-twitter-share" href="https://twitter.com/share?text={{ .Title }}&amp;url={{ .Permalink }}"><i class="fa fa-twitter"></i> Tweet</a>
    <a class="btn-facebook-share" href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}"><i class="fa fa-facebook"></i> Post</a>
    <a class="btn-googleplus-share" href="https://plus.google.com/share?url={{ .Permalink }}"><i class="fa fa-google-plus"></i> Share</a>
    <a class="btn-linkedin-share" href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{ .Permalink }}"><i class="fa fa-linkedin"></i> Update</a>
    <a class="btn-email-share" href="mailto:?subject={{ .Title }}&amp;body={{ .Permalink }}"><i class="fa fa-envelope"></i> Email</a>
    <a class="btn-feed-share" href="https://feeds.feedburner.com/"><i class="fa fa-rss"></i> RSS</a>
</section>
