{{ $ISO8601 := "2006-01-02T15:04:05-07:00" }}
<script type="application/ld+json">
    {
        "@context" : "http://schema.org",
        "@type" : "BlogPosting",
        "mainEntityOfPage": {
             "@type": "WebPage",
             "@id": {{ .Site.BaseURL }}
        },
        "articleSection" : "{{ .Section }}",
        "name" : {{ .Title | default "" }},
        "headline" : {{ .Title | default ""}},
        "description" : "{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}",
        "image" : {{ with .Params.images }}{{ range first 1 . }}{{ . }}{{ end }}{{ else }}{{ with .Site.Params.images }}{{ range first 1 . }}{{ . }}{{ end }}{{ else }}{{ "" }}{{ end }}{{ end }},
        "inLanguage" : "{{ with .Site.LanguageCode }}{{ . }}{{ end }}",
        "author" : "{{ with $.Site.Author.name }}{{ . }}{{ end }}",
        "creator" : "{{ with $.Site.Author.name }}{{ . }}{{ end }}",
        "publisher": {
            "@type" : "Organization",
            "name" : "{{ with $.Site.Author.name }}{{ . }}{{ end }}",
            "logo" : {
                "@type" : "ImageObject",
                "url" : {{ .Site.Params.logo | default "" }}
            }
        },
        "accountablePerson" : "{{ with $.Site.Author.name }}{{ . }}{{ end }}",
        "copyrightHolder" : "{{ with $.Site.Author.name }}{{ . }}{{ end }}",
        "copyrightYear" : "{{ .Date.Format "2006" }}",
        "datePublished": {{ (.Date.Format $ISO8601) }},
        "dateModified" : {{ (.Lastmod.Format $ISO8601) | default (.Date.Format $ISO8601) }},
        "url" : {{ .Permalink }},
        "wordCount" : "{{ .WordCount }}",
        "keywords" : [ {{ if isset .Params "tags" }}{{ range .Params.tags }}"{{ . }}",{{ end }}{{ end }}"blog" ]
    }
</script>