{{ define "main" }}
{{- partial "header.html" . -}}
<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            {{ $term := .Data.Term }}
            {{ $durationFrom := cond (eq $term "short") 0 (cond (eq $term "medium") 3 5) }}
            {{ $durationTo := cond (eq $term "short") 3 (cond (eq $term "medium") 5 10) }}
            {{ range where (where .Site.RegularPages "Type" "not in" (slice "page")) ".ReadingTime" "gt" $durationFrom }}
                {{ if (or (eq $term "long") (and (ne $term "long") (le .ReadingTime $durationTo)))      }}
                <div class="post-preview">
                    <a href="{{ .RelPermalink }}">
                        <h2 class="post-title">{{ if .Draft }}<span style="color: darkorange">[Draft]</span> {{ end }}{{ .Title }}</h2>
                        {{ with .Description }}<h3 class="post-subtitle">{{ . }}</h3>{{ end }}
                    </a>
                    <p class="post-meta">{{ .Date.Format "Jan 2, 2006" }}{{ with .ReadingTime }}<span> &middot; </span>{{ . }} min read{{ end }}</p>
                </div>
                <hr />
                {{ end }}
            {{ end }}
        </div>
    </div>
</div>
{{ end }}