.go-social {
    margin: 30px 0;
    line-height: 2.0;
}

$colorMap: (
    tw-share: $twitter_color,
    fb-share: $facebook_color,
    gp-share: $google_plus_color,
    in-share: $linkedin_color,
    email-share: $email_color,
    feed-share: $feed_color);

@each $className, $classValue in $colorMap {
    .btn-#{$className} {
        background-color: $classValue;
        border-color: $classValue;
        &:hover,
        &:focus,
        &:active {
            color: $white-warm;
            background-color: darken($classValue, 7.5) !important;
            border-color: darken($classValue, 7.5) !important;
        }
    }
}