.section-email-subscribe {
    @include sans-serif-font;
    border: #e7eef2 1px solid;
    padding: 15px;
    background: #f5f8fa;
    border-radius: 5px;
    h3 {
        margin: 15px 0 15px 0;
    }
    p {
        margin: 15px 0;
        font-size: 12px;
        a {
            font-weight: 700;
        }
    }
    .form-group {
        margin: 30px auto;
        max-width: 400px;
    }
}
