// Global styling for this template
body {
  font-size: 20px;
  color: $gray-900;
  background-color: $white-warm;
  @include serif-font;
  -webkit-tap-highlight-color: #0085a1;
}

p {
  line-height: 1.5;
  margin: 30px 0;
  word-wrap: break-word;
  a {
    text-decoration: underline;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
  @include sans-serif-font;
}

a {
  color: $gray-900;
  @include transition-all;
  &:focus,
  &:hover {
    color: $primary;
  }
}

blockquote {
  font-style: italic;
  color: $gray-600;
  padding: 10px 20px;
  margin: 20px 0;
  border: 0px solid #eee;
  border-left-width: 5px;
  /* border-radius: 3px; */
  border-left-color: #404040;
  p {
    font-style: normal;
    margin-bottom: 0;
    margin-top: 0;
    &:last-child {
      margin-bottom: 0;
    }
  }
  h4 {
    margin-top: 0;
    margin-bottom: 5px;
  }
  code {
    border-radius: 3px;
  }
  +blockquote {
    margin-top: -5px;
  }
}

pre {
  margin-bottom: 30px;
}

figure {
  pre, .table {
    margin-bottom: 0px;
  }
}

.entry-content h2,
.section-heading {
  font-size: 36px;
  font-weight: 700;
  margin-top: 60px;
}

.entry-content figure figcaption,
.caption {
  font-size: 14px;
  font-style: italic;
  display: block;
  margin: 0;
  padding: 10px;
  text-align: center;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

::-moz-selection {
  color: $white-warm;
  background: $primary;
  text-shadow: none;
}

::selection {
  color: $white-warm;
  background: $primary;
  text-shadow: none;
}

img::selection {
  color: $white-warm;
  background: transparent;
}

img::-moz-selection {
  color: $white-warm;
  background: transparent;
}

.pagenumber{
  float: none;
  display: inline;
  div {
    display: inline-block;
    padding: 10px 5px;
    @media only screen and (min-width: 768px) {
      padding: 15px 25px;
    }
  }
}
