// Global styling for this template
body {
  font-size: 20px;
  color: $gray-900;
  background-color: $white-warm;
  @include sans-serif-font;
  -webkit-tap-highlight-color: $primary;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  @include sans-serif-font;
}

a {
  text-decoration: none;
  color: $gray-900; 
  // @include transition-all;
  &:focus,
  &:hover {
    text-decoration: none;
    color: $primary;
  }
  &.imglink {
    img {
      transition: opacity 0.3s;
    }
    &:focus,
    &:hover {
      img {
        opacity: 0.85;
      }
    }
  }
}

::selection {
  color: $white-warm;
  background: $primary;
  text-shadow: none;
}

img::selection {
  color: $white-warm;
  background: transparent;
}

.pagenumber {
  float: none;
  display: inline;
  div {
    display: inline-block;
    padding: 10px 5px;
    @media only screen and (min-width: 768px) {
      padding: 15px 25px;
    }
  }
}

.section {
  margin: 30px 0;
}

.section-related {
  margin: 60px 0 60px 0;
  h2 {
    font-size: 36px;
  }
}

.adcontainer {
  margin: 10px 0;
  text-align: center;
}

.post-meta {
  @include serif-font;
  font-style: italic;
  font-size: 18px;
  font-weight: 300;
  color: $gray-600;
  > a {
    color: $gray-900;
    &:focus,
    &:hover {
      color: $primary;
    }
  }
}