// Styling for the masthead
header.masthead {
  // TIP: Background images are set within the HTML using inline CSS!
  margin-bottom: 20px;
  background: #222 no-repeat center center;
  background-color: $gray-600;
  background-attachment: scroll;
  position: relative;
  @include background-cover;
  -webkit-text-shadow: 0 1px 12px rgba(0, 0, 0, 0.35);
  -moz-text-shadow: 0 1px 12px rgba(0, 0, 0, 0.35);
  text-shadow: 0 1px 12px rgba(0, 0, 0, 0.35);
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: $gray-900;
    opacity: 0.5;
  }
  .page-heading,
  .post-heading,
  .site-heading {
    padding: 100px 0 50px;
    color: $white-warm;
  }
  .page-heading,
  .site-heading {
    text-align: center;
    h1 {
      font-size: 50px;
      margin-top: 0;
      font-weight: 700;
    }
    .subheading {
      font-size: 24px;
      font-weight: 300;
      line-height: 1.1;
      display: block;
      margin: 10px 0 0;
      @include sans-serif-font;
    }
    @media only screen and (min-width: 768px) {
      padding: 100px 0px;
      h1 {
        font-size: 80px;
      }
    }
  }
  .post-heading {
    h1 {
      font-size: 35px;
    }
    .meta,
    .subheading {
      display: block;
    }
    .subheading {
      line-height: 1.2;
      font-size: 24px;
      font-weight: 400;
      margin: 10px 0 30px;
      @include sans-serif-font;
    }
    .meta {
      line-height: 1.45;
      font-size: 20px;
      font-weight: 300;
      font-style: italic;
      @include serif-font;
      a {
        color: $white-warm;
          &:focus,
          &:hover {
            color: fade-out($white-warm, .2);
          }
      }
      > span {
        display: block;
        margin-right: 8px;
        padding-right: 12px;
      }
    }
    @media only screen and (min-width: 768px) {
      padding: 70px 0px 50px 0px;
      h1 {
        font-size: 55px;
      }
      .subheading {
        font-size: 30px;
      }
      .meta {
        > span {
          display: inline-block;
        }
      }
    }
  }
}

hr.small {
  max-width: 100px;
  margin: 15px auto;
  border-width: 4px;
  border-color: $white-warm;
}
