// Variables

$white:    #fff !default;
$white-warm: #fcfbf7 !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #0085A1 !default;
$cyan:    #17a2b8 !default;
$blue-skyline: #1488CC !default;

$primary:       $blue-skyline !default;
$secondary:     $gray-600 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;

// Social Colors
// ====================================================================

$facebook_color           : hsla(222, 47%, 40%, 1);     // #365397
$twitter_color            : hsla(198, 100%, 47%, 1);    // #00a9f1
$linkedin_color           : hsla(203, 100%, 35%, 1);    // #006db3
$apple_color              : hsla(0, 0%, 45%, 1);        // #737373
$google_color             : hsla(217, 89%, 61%, 1);     // #4285f4
$google_plus_color        : hsla(8, 74%, 53%, 1);       // #e0452c
$youtube_color            : hsla(0, 100%, 60%, 1);      // #ff3333
$vimeo_color              : hsla(200, 82%, 61%, 1);     // #48b6ed
$pinterest_color          : hsla(0, 78%, 45%, 1);       // #ce1a19
$yelp_color               : hsla(5, 100%, 38%, 1);      // #c30f00
$dribbble_color           : hsla(338, 82%, 60%, 1);     // #ed4584
$amazon_color             : hsla(36, 100%, 50%, 1);     // #ff9700
$ebay_color               : hsla(219, 89%, 30%, 1);     // #083790
$skype_color              : hsla(198, 100%, 48%, 1);    // #00acf4
$instagram_color          : hsla(208, 46%, 41%, 1);     // #396d9a
$dropbox_color            : hsla(206, 89%, 46%, 1);     // #0d84de
$flickr_color             : hsla(334, 100%, 46%, 1);    // #ea0066
$github_color             : hsla(0, 0%, 18%, 1);        // #2f2f2f
$basecamp_color           : hsla(121, 38%, 58%, 1);     // #6bbd6d
$tumblr_color             : hsla(210, 37%, 30%, 1);     // #304c68
$foursquare_color         : hsla(206, 72%, 45%, 1);     // #207dc5
$box_color                : hsla(204, 83%, 40%, 1);     // #1277bc

$email_color: #97908F !default;
$feed_color: #dd7346 !default;
