{{ define "main" }}

{{ partial "postheader.html" . }}

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-body entry-content">
                    {{ .Content }}
                </div>
                {{ if .Site.Params.showRelated }}
                    {{ partial "related.html" . }}
                {{ end }}
            </div>
        </div>
    </div>
</article>

{{ end }}
