{{ define "main" }}

<!-- Post Content -->
<article itemscope itemtype="https://schema.org/{{ $.Site.Param (printf "SchemaOrg.Types.%s" .Section) | default "Article" }}" class="h-entry hentry">
    <!--/row-->
    {{- if eq .Params.type "page" -}}
        {{- partial "header.html" . -}}
    {{- else -}}
        {{- partial "post-header-hero.html" . -}}
    {{- end -}}
    <!--row/-->

    <!-- Show Top Adsense (Sidebar disabled) -->
    {{- if ne .Params.type "page" -}}
    {{- if not .Site.Params.sidebar.isEnabled -}}
    {{- if .Site.Params.Services.GoogleAdsense.isEnabled -}}
    {{- if $.Param "Services.GoogleAdsense.showTop" -}}
    <div class = "row">
        <div class="col-lg-12 col-md-12">
            {{- partialCached "widget/google-adsense-responsive-top.html" . -}}
        </div>
    </div>
    {{- end -}}
    {{- end -}}
    {{- end -}}
    {{- end -}}

    <!-- Content -->
    <div class="row">
        {{- if not .Site.Params.sidebar.isEnabled -}}
        <div class="col-lg-2 col-md-1"></div>
        {{- end -}}
        <div class="
            {{- if .Site.Params.sidebar.isEnabled -}}
            col-lg-8 col-md-8 
            {{- else -}}
            col-lg-8 col-md-10 
            {{- end -}}
            {{- print " " -}}
            ">

            <!-- Show Top Adsense (Sidebar enabled) -->
            {{- if ne .Params.type "page" -}}
            {{- if .Site.Params.sidebar.isEnabled -}}
            {{- if .Site.Params.Services.GoogleAdsense.isEnabled -}}
            {{- if $.Param "Services.GoogleAdsense.showTop" -}}
            {{- partialCached "widget/google-adsense-responsive-top.html" . -}}
            {{- end -}}
            {{- end -}}
            {{- end -}}
            {{- end -}}

            <!-- Article Content -->
            <div class="e-content entry-content journey-content" id="content" {{ if eq .Params.type "page" }}data-pagefind-ignore{{ else }}data-pagefind-body{{ end }}>
                <!-- Schema -->
                {{- template "_internal/schema.html" . -}}
                <!--Image for thumbnail-->
                {{- with $.Param "images" -}}
                {{- range last 1 . -}}
                <p class="hidden"><img src="{{- . -}}" title="{{- with $.Param "title" -}}{{- . -}}{{- end -}}" alt="{{- with $.Param "description" -}}{{- . -}}{{- end -}}"></p>
                {{- end -}}
                {{- end -}}

                {{ .Scratch.Set "finalContent" .Content }}
                
                {{ if (and ($.Param "Services.GoogleAdsense.showMiddle") (ne .Params.type "page")) }}
                    {{ replace (.Scratch.Get "finalContent") "<!--adsense-->" (partialCached "widget/google-adsense-inarticle.html" .) | safeHTML }}
                {{ else }}
                    {{ .Scratch.Get "finalContent" }}
                {{ end }}
            </div>
        </div>

        <!-- Sidebar -->
        {{- if not .Site.Params.sidebar.isEnabled -}}
        <div class="col-lg-2 col-md-2"></div>
        {{- else -}}
        <aside class="col-lg-4 col-md-4 section-sidebar sidebar{{ if .Site.Params.sidebar.isSticky }} sticky-sidebar{{ end }}" id="sidebar">
            {{- partial "sidebar.html" . -}}
        </aside>
        {{- end -}}
    </div>

    <!-- Show Bottom Adsense -->
    {{- if ne .Params.type "page" -}}
    {{- if .Site.Params.Services.GoogleAdsense.isEnabled -}}
    {{- if $.Param "Services.GoogleAdsense.showBottom" -}}
    <div class = "row">
        {{- if not .Site.Params.sidebar.isEnabled -}}
        <div class="col-lg-2 col-md-2"></div>
        {{- end -}}
        <div class="col-lg-8 col-md-8">
            {{ partialCached "widget/google-adsense-responsive-bottom.html" . }}
        </div>
    </div>
    {{- end -}}
    {{- end -}}
    {{- end -}}

    <!-- <hr class='section-divider'> -->
</article>

{{- if ne .Params.type "page" -}}
    {{- partial "post-footer.html" . -}}
{{- end -}}

{{ end }}