/*!Fokus v1.9.5 | MIT License | github.com/junian/fokus*/
/*!Start Bootstrap - Clean Blog v3.3.7+1 | MIT License | github.com/BlackrockDigital/startbootstrap-clean-blog/tree/v3.3.7+1*/
body {
  font-size: 20px;
  -webkit-tap-highlight-color: #004e92;
}

a.imglink img {
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

a.imglink:focus img, a.imglink:hover img {
  opacity: 0.85;
}

a.lined-link, .post-footer p a, .site-footer p a, .e-content a {
  color: inherit;
  outline: none;
  -webkit-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
  background: #c5e4ff;
  background: -webkit-gradient(linear, left top, left bottom, from(#5fb4ff), to(#5fb4ff));
  background: -webkit-linear-gradient(#5fb4ff, #5fb4ff);
  background: -o-linear-gradient(#5fb4ff, #5fb4ff);
  background: linear-gradient(#5fb4ff, #5fb4ff);
  -webkit-background-size: 100% .15em;
          background-size: 100% .15em;
  background-repeat: no-repeat;
  background-position: left 0 bottom 0;
}

a.lined-link:focus, .post-footer p a:focus, .site-footer p a:focus, .e-content a:focus {
  background-color: #5fb4ff;
  color: #212529;
}

::-moz-selection {
  color: #fcfbf7;
  background: #004e92;
  text-shadow: none;
}

::selection {
  color: #fcfbf7;
  background: #004e92;
  text-shadow: none;
}

img::-moz-selection {
  color: #fcfbf7;
  background: transparent;
}

img::selection {
  color: #fcfbf7;
  background: transparent;
}

.pagenumber {
  float: none;
  display: inline;
}

.pagenumber div {
  display: inline-block;
  padding: 10px 5px;
}

.section, .e-content p,
.e-content figure,
.e-content blockquote,
.e-content ul,
.e-content ol {
  margin: 30px 0;
}

.section-related {
  margin: 60px 0 60px 0;
}

.section-related h2 {
  font-size: 36px;
}

.section-ad {
  margin: 15px 0;
  text-align: center;
}

.post-meta {
  font-size: 16px;
  font-weight: 300;
  color: #717171;
}

.post-meta > a {
  color: #212529;
}

.post-meta > a:focus, .post-meta > a:hover {
  color: #004e92;
}

.caption, .e-content figure figcaption {
  font-size: 16px;
  font-style: italic;
  display: block;
  margin: 0;
  padding: 10px;
  text-align: center;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  color: #717171;
}

.section-license,
.section-lastmod {
  color: #717171;
}

.navbar-main {
  position: absolute;
  border-bottom: 1px solid #e9ecef;
  background-color: #fcfbf7;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
}

.navbar-main .navbar-brand {
  font-weight: 300;
  color: #343a40;
}

.navbar-main .navbar-brand > img {
  width: 24px;
  height: 24px;
  float: left;
  margin-right: 9px;
}

.navbar-main .navbar-checkbox {
  display: none;
}

.navbar-main .navbar-checkbox:checked ~ .collapse {
  display: block;
}

.navbar-main .navbar-nav > .nav-item > a {
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.masthead {
  margin-bottom: 20px;
  background-color: #868e96;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  position: relative;
  -webkit-background-size: cover;
          background-size: cover;
  text-shadow: 0 1px 12px rgba(0, 0, 0, 0.35);
}

.masthead .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #212529;
  opacity: 0.8;
}

.masthead .page-heading,
.masthead .post-heading,
.masthead .site-heading {
  padding: 100px 0 50px;
  color: #fcfbf7;
}

.masthead .page-heading,
.masthead .site-heading {
  text-align: center;
}

.masthead .page-heading h1,
.masthead .site-heading h1 {
  font-size: 50px;
  margin-top: 0;
  font-weight: 700;
}

.masthead .page-heading .subheading,
.masthead .site-heading .subheading {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.1;
  display: block;
  margin: 10px 0 0;
}

.masthead .post-heading h1 {
  font-size: 35px;
}

.masthead .post-heading .post-meta,
.masthead .post-heading .subheading {
  display: block;
}

.masthead .post-heading .subheading {
  line-height: 1.2;
  font-size: 24px;
  font-weight: 400;
  margin: 10px 0 30px;
}

.masthead .post-heading .post-meta {
  line-height: 1.45;
  color: #fcfbf7;
}

.masthead .post-heading .post-meta a {
  color: #fcfbf7;
}

.masthead .post-heading .post-meta a:focus, .masthead .post-heading .post-meta a:hover {
  color: rgba(252, 251, 247, 0.8);
}

.masthead .post-heading .post-meta > span {
  display: block;
  margin-right: 8px;
  padding-right: 12px;
}

hr.small {
  max-width: 100px;
  margin: 15px auto;
  border-width: 4px;
  border-color: #fcfbf7;
}

.post-preview > a {
  color: #212529;
}

.post-preview > a:focus, .post-preview > a:hover {
  color: #004e92;
}

.post-preview > a > .post-title {
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 10px;
  line-height: 1.15;
}

.post-preview > a > .post-subtitle {
  font-weight: 300;
  margin: 0 0 10px 0;
  line-height: 1.25;
}

.post-preview > .post-meta {
  margin-top: 0;
}

.post-footer .bmc,
.post-footer .go-social {
  text-align: center;
}

.site-footer p {
  font-size: 10px;
  margin: 0 0 0 0;
  line-height: 1.75;
  color: #495057;
}

.site-footer .list-inline {
  margin: 0;
  padding: 0;
  line-height: 0;
}

.site-footer .list-inline > li {
  padding: 0;
}

/*
.post-footer {
  font-size: 1.4rem;
  line-height: 1.75em;
  position: relative;
  margin: 6rem 0 3rem 0;
  padding: 3rem 0 0 0;
  border-top: #EBF2F6 1px solid;
  text-align: center;
  h4 {
    font-size: 1.8rem;
  }
  p {
    margin: 1rem 0;
  }
  .post-location {
    margin: 1.6rem 0;
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 1.4rem;
    line-height: 1;
    font-style: italic;
    color: #9EABB3;
  }
  @media (min-width: 768px) {
    text-align: left;
    .author-image {
      top: -40px;
    }
  }
}
*/
.btn-primary {
  background-color: #004e92;
  border-color: #004e92;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  color: #fcfbf7;
  background-color: #003a6c !important;
  border-color: #003a6c !important;
}

.btn-lg {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 0;
  padding: 10px 5px;
}

hr.section-divider, .e-content hr {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  display: block;
  border: 0;
  text-align: center;
  overflow: visible;
  margin-top: 50px;
  margin-bottom: 50px;
}

hr.section-divider:before, .e-content hr:before {
  --x-height-multiplier: 0.342;
  --baseline-multiplier: 0.22;
  font-weight: 400;
  font-style: italic;
  font-size: 30px;
  letter-spacing: .6em;
  content: '...';
  display: inline-block;
  margin-left: .6em;
  color: rgba(0, 0, 0, 0.68);
  position: relative;
  top: -30px;
}

.e-content p,
.e-content figure,
.e-content blockquote,
.e-content ul,
.e-content ol {
  font-family: "Lora", Georgia, Cambria, "Times New Roman", Times, serif;
}

.e-content p {
  line-height: 1.5;
  word-wrap: break-word;
}

.e-content img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  max-width: 100%;
  height: auto;
}

.e-content figure pre,
.e-content figure table,
.e-content figure img {
  margin-top: 0px;
  margin-bottom: 0px;
}

.e-content figure.highlight {
  position: relative;
}

.e-content figure:hover .icon-clipboard {
  color: inherit;
  opacity: 0.5;
}

.e-content h2 {
  font-size: 36px;
  margin: 60px 0 30px 0;
}

.e-content h3 {
  margin: 50px 0 30px 0;
}

.e-content a img:hover, .e-content a img:focus {
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.e-content blockquote {
  background-color: #f8f9fa;
  padding: 10px;
  color: #495057;
  border: 1px solid #e9ecef;
  border-left-width: 5px;
  border-radius: 3px;
  border-left-color: #495057;
}

.e-content blockquote p,
.e-content blockquote h4 {
  margin: 10px;
}

.e-content li {
  margin-top: 15px;
  margin-bottom: 15px;
}

.e-content.archive p {
  margin: 20px 0;
}

.highlight pre {
  overflow: auto;
  word-wrap: normal;
  white-space: pre;
}

.highlight pre code {
  white-space: pre;
}

.highlight .btn-clipboard {
  margin: 0;
  padding: 0;
  border: 0;
  outline-style: none;
  font-size: inherit;
  position: absolute;
  top: 0.6rem;
  right: 0.6rem;
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 0.2rem;
  font-size: 1.6rem;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.highlight .btn-clipboard.chroma {
  background-color: transparent;
}

.highlight .btn-clipboard .icon-clipboard {
  opacity: 0.25;
  -webkit-transition: color 0.25s, opacity 0.25s;
  -o-transition: color 0.25s, opacity 0.25s;
  transition: color 0.25s, opacity 0.25s;
}

.highlight .btn-clipboard:focus .icon-clipboard, .highlight .btn-clipboard:hover .icon-clipboard {
  opacity: 1;
  color: inherit;
}

.highlight .btn-clipboard .msg-clipboard {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: block;
  position: absolute;
  top: 0;
  right: 3.4rem;
  padding: 0.6rem 1rem;
  -webkit-transform: translateX(0.8rem);
      -ms-transform: translateX(0.8rem);
       -o-transform: translateX(0.8rem);
          transform: translateX(0.8rem);
  -webkit-transition: opacity 0.175s, -webkit-transform 0.25s cubic-bezier(0.9, 0.1, 0.9, 0);
  transition: opacity 0.175s, -webkit-transform 0.25s cubic-bezier(0.9, 0.1, 0.9, 0);
  -o-transition: opacity 0.175s, -o-transform 0.25s cubic-bezier(0.9, 0.1, 0.9, 0);
  transition: transform 0.25s cubic-bezier(0.9, 0.1, 0.9, 0), opacity 0.175s;
  transition: transform 0.25s cubic-bezier(0.9, 0.1, 0.9, 0), opacity 0.175s, -webkit-transform 0.25s cubic-bezier(0.9, 0.1, 0.9, 0), -o-transform 0.25s cubic-bezier(0.9, 0.1, 0.9, 0);
  border-radius: 0.2rem;
  background-color: rgba(0, 0, 0, 0.54);
  color: white;
  font-size: 1.28rem;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
}

.highlight .btn-clipboard .msg-clipboard::before {
  content: attr(aria-label);
}

.highlight .btn-clipboard .msg-clipboard::after {
  display: block;
  position: absolute;
  top: 50%;
  right: -0.4rem;
  width: 0;
  margin-top: -0.4rem;
  border-width: 0.4rem 0 0.4rem 0.4rem;
  border-style: solid;
  border-color: transparent rgba(0, 0, 0, 0.54);
  content: "";
}

.highlight .btn-clipboard .msg-clipboard--active {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
       -o-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: opacity 0.175s 0.075s, -webkit-transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 0.175s 0.075s, -webkit-transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: opacity 0.175s 0.075s, -o-transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.175s 0.075s;
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.175s 0.075s, -webkit-transform 0.25s cubic-bezier(0.4, 0, 0.2, 1), -o-transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
  pointer-events: initial;
}

.feather {
  width: 24px;
  height: 24px;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

.fa-thin svg {
  stroke-width: 1;
}

.fa svg {
  height: 1em;
  width: 1em;
  top: .125em;
  position: relative;
}

.fa-2x svg {
  height: 1.5em;
  width: 1.5em;
}

.fa-stack-1x svg {
  height: 1.5em;
  width: 1.5em;
}

.fa-stack-2x svg {
  height: 3em;
  width: 3em;
}

.fa-stack {
  position: relative;
  display: inline-block;
}

.fa-stack svg {
  display: inline-block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
     transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}

.fa-lg {
  height: 72px;
  width: 72px;
}

.nextprev a.disabled {
  cursor: not-allowed;
}

.nextprev a.disabled:hover, .nextprev a.disabled:focus {
  color: #212529;
}

.nextprev .next {
  text-align: left;
}

.nextprev .previous {
  text-align: right;
}

.nextprev p {
  line-height: 1.2;
  margin: 0 0 10px;
}

.nextprev .caption, .nextprev .e-content figure figcaption, .e-content figure .nextprev figcaption {
  font-style: normal;
}

.nextprev .caption h2, .nextprev .e-content figure figcaption h2, .e-content figure .nextprev figcaption h2 {
  font-size: 24px;
}

.nextprev .caption h3, .nextprev .e-content figure figcaption h3, .e-content figure .nextprev figcaption h3 {
  margin-top: 10px;
  font-size: 18px;
  line-height: 1.3;
}

.similar-item p {
  margin: 0 0 10px 0;
}

.go-social {
  margin: 30px 0;
  line-height: 2.0;
  color: #fcfbf7;
}

.btn-tw-share {
  background-color: #00a8f0;
  border-color: #00a8f0;
}

.btn-tw-share:hover, .btn-tw-share:focus, .btn-tw-share:active {
  background-color: #008dc9 !important;
  border-color: #008dc9 !important;
}

.btn-fb-share {
  background-color: #365396;
  border-color: #365396;
}

.btn-fb-share:hover, .btn-fb-share:focus, .btn-fb-share:active {
  background-color: #2c437a !important;
  border-color: #2c437a !important;
}

.btn-gp-share {
  background-color: #e0462e;
  border-color: #e0462e;
}

.btn-gp-share:hover, .btn-gp-share:focus, .btn-gp-share:active {
  background-color: #ca351e !important;
  border-color: #ca351e !important;
}

.btn-in-share {
  background-color: #006eb3;
  border-color: #006eb3;
}

.btn-in-share:hover, .btn-in-share:focus, .btn-in-share:active {
  background-color: #00568c !important;
  border-color: #00568c !important;
}

.btn-email-share {
  background-color: #97908F;
  border-color: #97908F;
}

.btn-email-share:hover, .btn-email-share:focus, .btn-email-share:active {
  background-color: #857c7b !important;
  border-color: #857c7b !important;
}

.btn-feed-share {
  background-color: #dd7346;
  border-color: #dd7346;
}

.btn-feed-share:hover, .btn-feed-share:focus, .btn-feed-share:active {
  background-color: #d65b27 !important;
  border-color: #d65b27 !important;
}

.section-subscribe {
  border: #e7eef2 1px solid;
  padding: 30px 15px;
  background: #f8fcff;
}

.section-subscribe h3 {
  margin: 15px 0 15px 0;
}

.section-subscribe p {
  margin: 15px 0;
  font-size: 12px;
}

.section-subscribe p a {
  font-weight: 700;
}

.section-subscribe .form-inline {
  margin: 30px auto;
}

@media (min-width: 768px) {
  .pagenumber div {
    padding: 15px 25px;
  }
  .navbar-main {
    border-bottom: 1px solid transparent;
    background: transparent;
  }
  .navbar-main .navbar-brand {
    padding: 10px 20px;
    color: #fcfbf7;
  }
  .navbar-main .navbar-brand:focus, .navbar-main .navbar-brand:hover {
    color: rgba(252, 251, 247, 0.8);
  }
  .navbar-main .navbar-nav > .nav-item > a {
    padding: 10px 20px;
    color: #fcfbf7;
  }
  .navbar-main .navbar-nav > .nav-item > a:focus, .navbar-main .navbar-nav > .nav-item > a:hover {
    color: rgba(252, 251, 247, 0.8);
  }
  .masthead .page-heading,
  .masthead .site-heading {
    padding: 100px 0px;
  }
  .masthead .page-heading h1,
  .masthead .site-heading h1 {
    font-size: 80px;
  }
  .masthead .post-heading {
    padding: 70px 0px 50px 0px;
  }
  .masthead .post-heading h1 {
    font-size: 55px;
  }
  .masthead .post-heading .subheading {
    font-size: 30px;
  }
  .masthead .post-heading .post-meta > span {
    display: inline-block;
  }
  .post-preview > a > .post-title {
    font-size: 36px;
  }
  .post-footer .bmc,
  .post-footer .go-social {
    margin: 0px 0 10px 0;
  }
  .post-footer .bmc {
    text-align: left;
  }
  .post-footer .go-social {
    text-align: right;
  }
  .site-footer p {
    font-size: 12px;
  }
  .btn-lg {
    padding: 15px 25px;
  }
}

@media (min-width: 992px) {
  .navbar-main {
    /*
    transition: background-color 0.2s;
    Force Hardware Acceleration in WebKit
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    */
    /*
    &.is-fixed {
      // when the user scrolls down, we hide the header right above the viewport 
      position: fixed;
      top: -67px;
      transition: transform 0.2s;
      border-bottom: 1px solid darken($white-warm, .05);
      background-color: fade-out($white-warm, .1);
      .navbar-brand {
        color: $gray-900;
        &:focus,
        &:hover {
          color: $primary;
        }
      }
      .navbar-nav {
        > .nav-item {
          > a {
            color: $gray-900;
            &:focus,
            &:hover {
              color: $primary;
            }
          }
        }
      }
    }
    */
    /*
    &.is-visible {
      // if the user changes the scrolling direction, we show the header
      transform: translate3d(0, 100%, 0);
    }
    */
  }
  .nextprev .next {
    text-align: right;
  }
  .nextprev .previous {
    text-align: left;
  }
}
