<!-- Bootstrap Core CSS -->
{{- $options := (dict "outputStyle" "compressed" "enableSourceMap" false) -}}
{{- $bootstrapcustomcss := resources.Get "src/scss/bootstrap-custom.scss" | resources.ToCSS $options -}}
<!-- Theme CSS -->
{{- $options := (dict "outputStyle" "compressed" "enableSourceMap" false) -}}
{{- $fokuscss := resources.Get "src/scss/fokus.scss" | resources.ToCSS $options -}}
<!-- Cookie Consent CSS -->
{{- $cookieconsentcss := resources.Get "vendor/cookieconsent/build/cookieconsent.min.css" -}}
<!-- Custom asset css -->
{{- $indexScratch := .Scratch -}}
{{- $indexScratch.Add "cssassets" (slice $bootstrapcustomcss $fokuscss $cookieconsentcss) -}}
{{- range .Site.Params.customCSSAssets -}} 
    {{- $indexScratch.Add "cssassets" (slice (resources.Get .)) -}}
{{- end -}}
<!-- Bundle css -->
{{- $appcss := $indexScratch.Get "cssassets" | resources.Concat "css/fokus-bundle.css" | resources.Minify | resources.Fingerprint -}}
<link rel="stylesheet" href="{{ $appcss.RelPermalink }}" integrity="{{ $appcss.Data.Integrity }}">
{{ .Scratch.Set "appcss" $appcss.RelPermalink }}
{{ .Scratch.Set "appcssintegrity" $appcss.Data.Integrity }}
{{- $options := (dict "outputStyle" "compressed" "enableSourceMap" false) -}}
{{- $fokusprintcss := slice (resources.Get "src/scss/fokus-print.scss" | resources.ToCSS $options) | resources.Concat "css/fokus-print.css" | resources.Minify | resources.Fingerprint -}}
<link rel="stylesheet" href="{{ $fokusprintcss.RelPermalink }}" integrity="{{ $fokusprintcss.Data.Integrity }}" media="print">