<!-- Bootstrap Core CSS -->


<!-- Theme CSS -->

{{- $fokuscss := resources.Get "css/fokus-full.css" -}}
<!-- Custom asset css -->
{{- $indexScratch := .Scratch -}}
{{- $indexScratch.Add "cssassets" (slice $fokuscss) -}}
{{- range .Site.Params.customCSSAssets -}} 
    {{- $indexScratch.Add "cssassets" (slice (resources.Get .)) -}}
{{- end -}}
<!-- Bundle css -->
{{- $appcss := $indexScratch.Get "cssassets" | resources.Concat "css/fokus-bundle.css" | resources.Minify | resources.Fingerprint -}}
<link rel="stylesheet" href="{{ $appcss.RelPermalink }}" integrity="{{ $appcss.Data.Integrity }}">
{{ .Scratch.Set "appcss" $appcss.RelPermalink }}
{{ .Scratch.Set "appcssintegrity" $appcss.Data.Integrity }}

{{- $fokusprintcss := resources.Get "css/fokus-print.css" | resources.Minify | resources.Fingerprint -}}
<link rel="stylesheet" href="{{ $fokusprintcss.RelPermalink }}" integrity="{{ $fokusprintcss.Data.Integrity }}" media="print">