<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="masthead" style='{{- partial "background-cover.html" . | print | safeCSS -}}'>
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1 class="p-name">
                        {{- if eq .Kind "404" -}}
                            {{- .Site.Title -}}
                        {{- else -}}
                            {{- .Title | default .Site.Title -}}
                        {{- end -}}
                    </h1>
                    <hr class="small" />
                        <span class="subheading">
                            {{- if eq .Kind "404" -}}
                                {{- .Title -}}
                            {{- else -}}
                                {{- with $.Param "description" -}}{{- . -}}{{- end -}}
                            {{- end -}}
                        </span>
                </div>
            </div>
        </div>
    </div>
</header>