<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <!-- Verification -->
    {{ partial "meta/verification.html" . }}

    <meta name="description" content="{{if .IsHome}}{{ $.Site.Params.description }}{{else}}{{.Description}}{{end}}">
    <meta name="author" content="{{ with $.Site.Author.name }}{{.}}{{end}}">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#243b55">
    <meta name="msapplication-TileColor" content="#243b55">
    <meta name="theme-color" content="#243b55">

    <!-- Schema -->
    {{ template "_internal/schema.html" . }}

    <!-- Opengraph -->
    {{ template "_internal/opengraph.html" . }}
    {{ with .Site.Social.facebook_app_id }}<meta content='{{ . }}' property='fb:app_id'>{{ end }}
    {{ with .Site.Social.facebook_pages }}<meta content='{{ . }}' property='fb:pages'>{{ end }}

    <!-- Twitter Card -->
    {{ template "_internal/twitter_cards.html" . }}

    <!-- Google News -->
    {{ template "_internal/google_news.html" . }}

    <!-- ld json structured data -->
    {{ partial "meta/structureddata.html" . }}

    {{ if .IsHome }}
    <title>{{ .Site.Title }}{{ with .Site.Params.description }} - {{ . }}{{ end }}</title>
    {{ else }}
    <title>{{ .Title }}</title>
    {{ end }}

    <!-- Bootstrap Core CSS -->
    {{ $bootstrapcss := resources.Get "vendor/bootstrap/dist/css/bootstrap.min.css" }}

    <!-- Theme CSS -->
    {{ $fokuscss := resources.Get "css/fokus.css" }}

    <!-- Custom Fonts -->
    {{ $fontawesomecss := resources.Get "vendor/font-awesome/css/font-awesome.min.css" }}

    <!-- Cookie Consent CSS -->
    {{ $cookieconsentcss := resources.Get "vendor/cookieconsent/build/cookieconsent.min.css" }}

    {{ $indexScratch := .Scratch }}
    {{ $indexScratch.Add "cssassets" (slice $bootstrapcss $fokuscss $fontawesomecss $cookieconsentcss) }}
    {{ range .Site.Params.customCSSAssets }} 
        {{ $indexScratch.Add "cssassets" (slice (resources.Get .)) }}
    {{ end }}

    <!-- Bundle css -->
    {{ $appcss := $indexScratch.Get "cssassets" | resources.Concat "vendor/font-awesome/css/bundle.css" | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $appcss.Permalink }}" integrity="{{ $appcss.Data.Integrity }}">

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic%7COpen+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    {{ if .RSSLink }}
    <link rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" href="{{ .RSSLink }}">
    <link rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" href="{{ .RSSLink }}" />
    {{ end }}

    <!--
    {{ partial "widget/buymeacoffee-style.html" . }}
    -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
