<!-- Pager -->
<ul class="pager clearfix">

    <li class="previous {{ if not .Paginator.HasPrev }}invisible{{ end }}">
        <a href="{{ if .Paginator.HasPrev }}{{ .Paginator.Prev.URL }}{{ end }}">&lsaquo; Prev</a>
    </li>
    
    <li class="pagenumber small">
        <div>Page {{ .Paginator.PageNumber }} of {{ .Paginator.TotalPages }}</div>
    </li>
    
    <li class="next {{ if not .Paginator.HasNext }}invisible{{ end }}">
        <a href="{{ if .Paginator.HasNext }}{{ .Paginator.Next.URL }}{{ end }}">Next &rsaquo;</a>
    </li>
    
</ul>