<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="masthead" style='{{- partial "background-cover.html" . | print | safeCSS -}}'>
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1 class="p-name">{{ if .Draft }}<span style="color: darkorange">[Draft]</span><br />{{ end }}{{ .Title }}</h1>
                    {{ with .Description }}
                    <h2 class="p-summary subheading">{{ . }}</h2>
                    {{ end }}
                    <div class='post-meta'>
                        <!-- Published Date -->
                        {{ if not .Date.IsZero }}
                        <span class='post-timestamp'>
                            <i class="fa fa-calendar">{{- partialCached (print "svg/calendar.svg") . -}}</i>&nbsp;
                            <a class='u-url' href='{{ .Permalink }}' rel='bookmark' title='permanent link'>
                                <time class='dt-published' title='{{- .Date.Format "2006-01-02T15:04:05Z0700" -}}' itemprop='datePublished'>
                                    {{- .Date.Format "Jan 2, 2006" -}}
                                </time>
                                <time class='dt-updated  hidden' title='{{- .Lastmod.Format "2006-01-02T15:04:05Z0700" -}}' itemprop='dateModified'>
                                    {{- .Lastmod.Format "Jan 2, 2006" -}}
                                </time>
                            </a>
                        </span>
                        {{ end }} 
                        <!-- Post tags -->
                        {{- with .Params.tags -}}
                        <span class='p-category'>
                            <i class="fa fa-tag">{{- partialCached (print "svg/tag.svg") . -}}</i>&nbsp;
                            {{- range first 1 . -}}
                                <a href='{{ "/tags/" | relURL }}{{ . | urlize }}' rel="tag">{{- . -}}</a>
                            {{- end -}} 
                            {{- if gt (len .) 1 -}} 
                            {{- range after 1 . -}}
                                {{- print ", " -}}<a href='{{ "/tags/" | relURL }}{{ . | urlize }}' rel="tag">{{- . -}}</a>
                            {{- end -}} 
                            {{- end -}}
                        </span>
                        {{- end -}} 
                        <!-- Reading ETA -->
                        {{- with .ReadingTime -}}
                        <span class='post-read-eta'>
                            <i class="fa fa-clock-o">{{- partialCached (print "svg/clock.svg") . -}}</i>&nbsp;
                            <a href='{{- "/durations/" | relURL -}}{{- cond (le . 3) "short" (cond (le . 5) "medium" "long") -}}'><span class='eta'>{{- . -}}</span> min read</a>
                        </span>
                        {{- end -}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>