<div class = "row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <!-- Show Bottom Adsense -->
        {{ if $.Param "adsense.showBottom" }}
            {{ partial "widget/adsense-responsive.html" . }}
        {{ end }}
        <!-- Content and Code License -->
        {{ if $.Param "license.visible" }}
            {{ partial "widget/license.html" . }}
        {{ end }}
        <!-- Native social share -->
        {{ partial "widget/social-share.html" . }}
        <!-- Blockadblock message -->
        {{ if .Site.Params.Widget.blockAdBlock }}
            {{ partial "widget/blockadblock.html" . }}
        {{ end }}
        <!-- Buy me a coffee -->
        {{ partial "widget/buymeacoffee.html" . }}
        <!-- Show AddThis if enabled -->
        {{ if .Site.Params.Widget.addThis }}
            {{ partial "widget/addthis.html" . }}
        {{ end }}
    </div>
</div>
<!-- Show related articles -->
{{ if $.Param "relatedVisible" }}
    {{ partial "related.html" . }}
{{ end }}
<div class = "row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <!-- Email Subscribe -->
        {{ partial "widget/email-subscribe.html" . }}
        <!-- Disqus comments -->
        {{ partial "widget/disqus-ondemand.html" . }}
    </div>
</div>
{{ partial "nextprev.html" . }}