<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('img/post-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1>{{ .Title }}</h1>
                    {{ with .Description }}
                    <h2 class="subheading">{{ . }}</h2>
                    {{ end }}
                    {{if not .Date.IsZero }}
                    <span class="meta">Posted on {{ .Date.Format "January 2, 2006" }}</span>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</header>
