<footer class="post-footer">
    <div class="container">
        <div class = "row">
            <div class="col-lg-2 col-md-1"></div>
            <div class="col-lg-8 col-md-10">
                <hr />
                <!-- Blockadblock message -->
                {{ if .Site.Params.Widget.blockAdBlock }}
                    {{ partialCached "widget/blockadblock.html" . }}
                {{ end }}
                <div class="section post-footer-msg">
                    {{- if .Site.Params.postFooter.title -}}
                    <h3>{{- .Site.Params.postFooter.title -}}</h3>
                    {{- end -}}
                    {{- if .Site.Params.postFooter.content -}}
                    <p class="small">
                        {{- .Site.Params.postFooter.content -}}
                    </p>
                    {{- end -}}
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <!-- Buy me a coffee -->
                        {{- partialCached "widget/buymeacoffee-button.html" . -}}
                    </div>
                    <div class="col-sm-6">
                        <!-- Native social share -->
                        {{ partial "widget/social-share-simple.html" . }}
                    </div>
                </div>
                <!-- Content and Code License -->
                <hr />
                {{ if $.Param "license.visible" }}
                <div class="section-license smaller">
                    <p>{{ partialCached "widget/license.html" . }}</p>
                </div>
                {{ end }}
                {{ if $.Param "disclaimer" }}
                <div class="section-disclaimer smaller">
                    <p>{{ $.Param "disclaimer" | markdownify }}</p>
                </div>
                {{ end }}
                {{ with .Lastmod }}
                <div class="section-lastmod smaller">
                    <p>Last updated {{ .Format "January 2, 2006" }}.</p>
                </div>
                {{ end }}
                <!-- Show AddThis if enabled -->
                {{ if .Site.Params.Widget.addThis }}
                    {{ partial "widget/addthis.html" . }}
                {{ end }}
            </div>
            <div class="col-lg-2 col-md-1"></div>
        </div>
    </div>
</footer>

<!-- Disqus comments click to comment -->
{{- if .Site.Config.Services.Disqus.Shortname -}}
<div class="container">
    <div class = "row">
        <div class="col-lg-2 col-md-1"></div>
        <div class="col-lg-8 col-md-10">
            {{ partial "widget/disqus-ondemand.html" . }}
        </div>
        <div class="col-lg-2 col-md-1"></div>
    </div>
</div>
{{- end -}}

<!-- Show related articles -->
{{ if $.Param "relatedVisible" }}
<div class="container">
    {{ partial "related.html" . }}
</div>
{{ end }}

<!-- Email Subscribe -->
{{ partialCached "widget/email-subscribe.html" . }}

<div class="container">
    {{ partial "nextprev.html" . }}
</div>