{{ $related := .Site.RegularPages.Related . | shuffle | first 3  }}
{{ with $related }}
{{ $postCount := len $related }}
<div class="section-related">
	<div class = "row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
			<div class="text-center">
				<h2>Further Reading</h2>
			</div>
		</div>
	</div>
	<div class = "row">
		{{ range $index, $page := . }}
		<div class=' 
		{{- if eq $postCount 1 -}}
			col-sm-6 col-sm-offset-3
		{{- else if (and (eq $postCount 2) (eq $index 0)) -}}
			col-sm-5 col-sm-offset-1
		{{- else if (and (eq $postCount 2) (gt $index 0)) -}}
			col-sm-5
		{{- else -}}
			col-sm-4
		{{- end -}}
		{{- print " similar-item post-preview" -}}'>
			<hr />
			<a href="{{ $page.RelPermalink }}">
				{{- with $page.Param "images" -}}
				{{- range last 1 . -}}
				<img src="{{ . }}" class="img-responsive" title="{{ $page.Title }}" alt="{{ $page.Description }}" />
				{{- end -}}
				{{- end -}}
				<h3>{{- $page.Title -}}</h3>
				<p class="post-subtitle small">{{- $page.Description -}}</p>
				<p class="post-meta small">{{ with $page.ReadingTime }}{{ . }} min read{{ end }}</p>
			</a>
		</div>
		{{ end }}
	</div>
</div>
{{ end }}