<!-- jQuery -->
{{ $jquery := resources.Get "vendor/jquery/jquery.min.js" }}
<!--
<script src="{{ "vendor/jquery/jquery.min.js" | relURL }}"></script>
-->

{{ $clipboardjs := resources.Get "vendor/clipboard.js/dist/clipboard.min.js" }}

<!-- Bootstrap Core JavaScript -->
<!--
<script src="{{ "vendor/bootstrap/js/bootstrap.min.js" | relURL }}"></script>
-->
{{ $bstransition := resources.Get "vendor/bootstrap/js/transition.js" }}
{{ $bscollapse := resources.Get "vendor/bootstrap/js/collapse.js" }}

<!-- Theme JavaScript -->
<!--
<script src="{{ "js/clean-blog.min.js" | relURL }}"></script>
-->

<!-- Fokus Javascript -->
{{ $fokusjs := resources.Get "js/fokus.js" }}
<!--
<script src="{{ "js/fokus.js" | relURL }}"></script>
-->

{{ $appjs := slice $jquery $clipboardjs $fokusjs $bstransition $bscollapse | resources.Concat "js/bundle.js" | resources.Minify | resources.Fingerprint }}
<script src="{{ $appjs.Permalink }}" integrity="{{ $appjs.Data.Integrity }}"></script>

{{ template "_internal/google_analytics_async.html" . }}

{{ partial "widgetscripts.html" . }}
