{{ partial "js-assets.html" . }}
{{ $assetid := delimit (slice (.Scratch.Get "appcssintegrity") (.Scratch.Get "appjsintegrity")) "" }}
{{ .Scratch.Set "swversion" (sha256 $assetid) }}
{{ $swjs := resources.Get "js/sw_template.js" | resources.ExecuteAsTemplate "sw.js" . | resources.Minify }}
<script src='{{ .Scratch.Get "appjs" }}' integrity='{{ cond (eq $.Site.Params.useSRI true) (.Scratch.Get "appjsintegrity") ("") }}'></script>
{{- template "_internal/google_analytics.html" . -}}
{{- partialCached "widget-scripts.html" . -}}
{{ if eq .Site.Params.useServiceWorker true }}
<script type="text/javascript">
    if ('serviceWorker' in navigator) {
        {{ printf "navigator.serviceWorker.register('%s', {scope: '/'});" $swjs.RelPermalink | safeJS }}
        window.addEventListener('load', function() {
            if (navigator.serviceWorker.controller) {
                navigator.serviceWorker.controller.postMessage({'command': 'trimCaches'});
            }
        });
    }
</script>
{{ end }}
{{- partial "scripts-custom.html" . -}}