<!-- jQuery -->
{{ $jquery := resources.Get "vendor/jquery/jquery.min.js" }}

<!-- Clipboardjs -->
{{ $clipboardjs := resources.Get "vendor/clipboard.js/dist/clipboard.min.js" }}

<!-- imagesloaded -->
{{ $imagesloaded := resources.Get "vendor/imagesloaded/imagesloaded.pkgd.min.js" }}

<!-- blockadblock -->
{{ $blockadblock := slice (resources.Get "js/abcheck.js") | resources.Concat "js/abcheck.js" | resources.Minify | resources.Fingerprint }}

{{/* $blockadblock := slice (resources.Get "vendor/blockadblock/blockadblock.js") | resources.Concat "js/blockadblock.js" | resources.Minify | resources.Fingerprint */}}

{{ .Scratch.Set "blockadblock" $blockadblock.Permalink }}
{{ $abdetectjs := slice $blockadblock | resources.Concat "abdetect.js" }}
{{ $string := (printf "var fabjs = '%s'; var fabintegrity = '%s'; var disqus_shortname = '%s'; var pageUrl = '%s';" ($abdetectjs.Permalink) ($blockadblock.Data.Integrity) (.Site.DisqusShortname) (trim .Permalink "/")) }}
{{ $targetPath := "js/vars.js" }}
{{ $vars := $string | resources.FromString $targetPath }}

<!-- Bootstrap Core JavaScript -->
{{ $bstransition := resources.Get "vendor/bootstrap/js/transition.js" }}
{{ $bscollapse := resources.Get "vendor/bootstrap/js/collapse.js" }}

<!-- Cookie Consent js -->
{{ $cookieconsentjs := resources.Get "vendor/cookieconsent/build/cookieconsent.min.js" }}

<!-- Disqus on demand -->
{{ $disqusondemand := resources.Get "js/disqus-ondemand.js" }}

<!-- Theme JavaScript -->
{{ $fokusjs := resources.Get "js/fokus.js" }}

{{ $indexScratch := .Scratch }}
{{ $indexScratch.Add "jsassets" (slice $jquery $imagesloaded $cookieconsentjs $vars $disqusondemand $fokusjs $bstransition $bscollapse) }}
{{ range .Site.Params.customJSAssets }} 
    {{ $indexScratch.Add "jsassets" (slice (resources.Get .)) }}
{{ end }}

{{ $appjs := $indexScratch.Get "jsassets" | resources.Concat "js/bundle.js" | resources.Minify | resources.Fingerprint }}
<script src="{{ $appjs.Permalink }}" integrity="{{ $appjs.Data.Integrity }}"></script>

{{ template "_internal/google_analytics.html" . }}

{{ partial "widgetscripts.html" . }}
