{{- if .Site.Params.search.isEnabled -}}
    <pagefind-modal></pagefind-modal>
{{- end -}}
<!-- Footer -->
<footer class="site-footer container">
    <div class="overlay"></div>
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 section-footer-item">
            {{- with .Site.Params.Menu.footer.title1 -}}
            <h4>{{- . -}}</h4>
            {{- end -}}
            {{- with .Site.Params.Menu.footer.content1 -}}
            <p>{{- . | safeHTML -}}</p>
            {{- end -}}
            {{- with .Site.Params.Menu.footer1 -}}
            <ul class="list-unstyled">
                {{- range . -}}
                <li><a href="{{- .url -}}">{{- .title -}}</a></li>
                {{- end -}}
            </ul>
            {{- end -}}
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 section-footer-item">
            {{- with .Site.Params.Menu.footer.title2 -}}
            <h4>{{- . -}}</h4>
            {{- end -}}
            {{- with .Site.Params.Menu.footer.content2 -}}
            <p>{{- . | safeHTML -}}</p>
            {{- end -}}
            {{- with .Site.Params.Menu.footer2 -}}
            <ul class="list-unstyled">
                {{- range . -}}
                <li><a href="{{- .url -}}">{{- .title -}}</a></li>
                {{- end -}}
            </ul>
            {{- end -}}
        </div>
        <div class="clearfix visible-xs-block"></div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 section-footer-item">
            {{- with .Site.Params.Menu.footer.title3 -}}
            <h4>{{- . -}}</h4>
            {{- end -}}
            {{- with .Site.Params.Menu.footer.content3 -}}
            <p>{{- . | safeHTML -}}</p>
            {{- end -}}
            {{- with .Site.Params.Menu.footer3 -}}
            <ul class="list-unstyled">
                {{- range . -}}
                <li><a href="{{- .url -}}">{{- .title -}}</a></li>
                {{- end -}}
            </ul>
            {{- end -}}
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 section-footer-item">
            {{- with .Site.Params.Menu.footer.title4 -}}
            <h4>{{- . -}}</h4>
            {{- end -}}
            {{- with .Site.Params.Menu.footer.content4 -}}
            <p>{{- . | safeHTML -}}</p>
            {{- end -}}
            {{- with .Site.Params.Menu.footer4 -}}
            <ul class="list-unstyled">
                {{- range . -}}
                <li><a href="{{- .url -}}">{{- .title -}}</a></li>
                {{- end -}}
            </ul>
            {{- end -}}
        </div>
        <div class="clearfix visible-xs-block"></div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 section-footer-item">
            {{- with .Site.Params.Menu.footer.title5 -}}
            <h4>{{- . -}}</h4>
            {{- end -}}
            {{- with .Site.Params.Menu.footer.content5 -}}
            <p>{{- . | safeHTML -}}</p>
            {{- end -}}
            {{- with .Site.Params.Menu.footer5 -}}
            <ul class="list-unstyled">
                {{- range . -}}
                <li><a href="{{- .url -}}">{{- .title -}}</a></li>
                {{- end -}}
            </ul>
            {{- end -}}
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 section-footer-item">
            {{- with .Site.Params.Menu.footer.title6 -}}
            <h4>{{- . -}}</h4>
            {{- end -}}
            {{- with .Site.Params.Menu.footer.content6 -}}
            <p>{{- . | safeHTML -}}</p>
            {{- end -}}
            {{- with .Site.Params.Menu.footer6 -}}
            <ul class="list-unstyled">
                {{- range . -}}
                <li><a href="{{- .url -}}">{{- .title -}}</a></li>
                {{- end -}}
            </ul>
            {{- end -}}
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="clearfix visible-xs-block"></div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <!-- Author profile -->
            {{- partialCached "widget/author-profile.html" . -}}

            <div class="section text-center">
                <ul class="list-inline">
                    {{- if isset .Site.Params "social" -}} 
                    {{- range .Site.Params.socials -}}
                        <li>
                            <a href="{{- .url -}}" title="Visit {{ .title | humanize }} page" target="_blank" rel="me nofollow noreferrer">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-stack-2x fa-thin fa-circle-thin">{{- partialCached (printf "svg/circle.svg") . -}}</i>
                                    <i class="fa fa-stack-1x fa-{{- .title -}}">{{- partialCached (printf "svg/%s.svg" .title) . -}}</i>
                                </span>
                            </a>
                        </li>
                    {{- end -}} 
                    {{- end -}}
                </ul>
            </div>
            <div class="text-center">
                <p>{{- .Site.Copyright | safeHTML -}}</p>
                {{ if .Site.Params.showAttribution }}
                <p>Proudly powered with <a href="https://gohugo.io" rel="nofollow noreferrer" target="_blank">Hugo</a> and <a href="https://github.com/junian/fokus" rel="nofollow noreferrer" target="_blank">Fokus</a></p>
                {{ end }}
            </div>
        </div>
    </div>
</footer>