{{ define "main" }}
{{- partial "header.html" . -}}
<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="post-body entry-content">
                <figure>
                    <img src="https://media.giphy.com/media/VwoJkTfZAUBSU/giphy.gif" class="img-responsive center-block" />
                    <figcaption>You're being lost. Go <a href="{{ .Site.BaseURL }}">home</a>, or try click another <a href="/xamarin">link</a>. &mdash; 404 GIF by <a href="https://gph.is/XMneL1" target="_blank">Mathew Lucas</a></figcaption>
                </figure>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
document.body.style.backgroundColor = "#ffffff";
</script>
{{- end -}}