{{ define "main" }}
{{- partial "header.html" . -}}
<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-2 col-md-1"></div>
        <div class="col-lg-8 col-md-10">
            <div class="e-content">
                <figure>
                    <img src="https://media.giphy.com/media/VwoJkTfZAUBSU/giphy.gif" class="img-responsive center-block" />
                    <figcaption class="caption">You're being lost. Go <a href="{{ .Site.BaseURL }}">home</a>, or try click another <a href="/tags/{{ .Site.Params.featuredTag }}">link</a>. &mdash; 404 GIF by <a href="https://gph.is/XMneL1" target="_blank" rel="nofollow noreferrer">Mathew Lucas</a></figcaption>
                </figure>
            </div>
        </div>
        <div class="col-lg-2 col-md-1"></div>
    </div>
</div>
<script type="text/javascript">
document.body.style.backgroundColor = "#ffffff";
</script>
{{- end -}}