{{ define "main" }}
{{- partial "header.html" . -}}
<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            {{ range $index, $page := (.Paginate (where .Site.RegularPages "Type" "not in" (slice "page"))).Pages }}
            <div class="post-preview">
                <a href="{{ .RelPermalink }}">
                    <h2 class="post-title">{{ if $page.Draft }}<span style="color: darkorange">[Draft]</span> {{ end }}{{ $page.Title }}</h2>
                    {{ with $page.Description }}<h3 class="post-subtitle">{{ . }}</h3>{{ end }}
                </a>
                <p class="post-meta">{{ $page.Date.Format "Jan 2, 2006" }}{{ with $page.ReadingTime }}<span> &middot; </span>{{ . }} min read{{ end }}</p>
            </div>
            <hr />
            <!-- Show In-Feed Adsense -->
            {{- if (and (or (eq $index 2) (eq $index 2)) ($.Param "adsense.showInFeed")) -}}
                {{- partialCached "widget/adsense-infeed.html" . -}}
            {{- end -}}
            {{ end }}
            {{ partial "pager.html" . }}
        </div>
    </div>
</div>
{{ end }}