hr {
    &.section-divider {
        box-sizing: content-box;
        height: 0;
        display: block;
        border: 0;
        text-align: center;
        overflow: visible;
        margin-top: 50px;
        margin-bottom: 50px;
        &:before {
            --x-height-multiplier: 0.342;
            --baseline-multiplier: 0.22;
            font-weight: 400;
            font-style: italic;
            font-size: 30px;
            letter-spacing: .6em;
            content: '...';
            display: inline-block;
            margin-left: .6em;
            color: rgba(0, 0, 0, .68);
            position: relative;
            top: -30px;
        }
    }
}

.e-content {
    overflow-wrap: break-word;
    word-break: break-word;
    p,
    ul,
    ol {
        font-family: $font-family-serif;
        @extend .section;
    }
    p {
        line-height: 1.5;
        word-wrap: break-word;
    }
    img {
        display: block;
        margin-right: auto;
        margin-left: auto;
        max-width: 100%;
        height: auto;
    }
    figure {
        font-family: $font-family-serif;
        margin: 30px -15px;
        @media (min-width: 768px) {
            margin: 30px 0px;
        }
        figcaption {
            @extend .caption;
        }
        pre,
        table,
        img {
            margin-top: 0px;
            margin-bottom: 0px;
        }
        pre {
            @media (min-width: 768px) {
                box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
                border-radius: 7px;
                border: 2px solid black;
            }
            scrollbar-color: lightgray transparent;
            scrollbar-width: thin;
        }
        &.highlight {
            position: relative;
        }
        &:hover {
            .icon-clipboard {
                color: inherit;
                opacity: 0.5;
            }
        }
    }
    h2 {
        font-size: 36px;
        margin: 60px 0 30px 0;
    }
    h3 {
        margin: 50px 0 30px 0;
    }
    a {
        @extend a, .lined-link;
        img {
            &:hover,
            &:focus {
                cursor: pointer;
            }
        }
    }
    blockquote {
        margin: 30px -15px;
        // background-color: $gray-100;
        padding: 0px 15px;
        color: $gray-700;
        // border: 1px solid $gray-200;
        // border-left-width: 5px;
        // border-radius: 3px;
        border-left-color: $gray-700;
        p,
        h4 {
            margin: 30px 0px;
        }
        h4 {
            font-family: $font-family-sans-serif;
            font-size: 20px;
        }
    }
    li {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    hr {
        @extend hr, .section-divider;
    }
    &.archive {
        p {
            margin: 5px 0;
        }
    }
}